@import "tailwindcss";
@import "./theme.css";

:root {
  --background: var(--color-neutral-white);
  --foreground: var(--color-neutral-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
